/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #1d3557;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header img {
  margin-top: 10px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.6;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #555555;
}
